__pycache__/
*.pyc
*.pyo
*.log
*.keys.json
.venv/
.DS_Store

build/

*.egg-info

.idea/
.serverless/

.coverage

target/
deployments/prod/var/lib/mysql/

.secrets.*
.env*
!.env.example

*.egg-info/

node_modules/
